body{
    background-color: crimson;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    margin:3px;
}
table{
    table-layout: fixed;
    max-width:100%;
    padding:0;
    margin-top:3px;
    height:500px
}
th{
    font-size:35px;
    text-underline: black;
}
td{
    font-size: 30px;
}
th, td {
    text-align: center;
    text-anchor: middle;
    width: 100%;
    background-color: #96D4D4;
    word-wrap: break-word
}
h1{
    text-underline: black;
}
#parent
{ white-space: nowrap;
}
.child{
    display: inline-block;
}
.buttonAdd{
    text-align: center;
    font-family: Verdana, serif;
    margin:10px;
    border-radius:2px;
    transition-duration:0.5s;
}
.buttonAdd:hover{
    background-color: #00ff00;
    box-shadow: 0 12px 16px 0
}

.buttonDelete{
    text-align: center;
    font-family: Verdana, serif;
    margin:10px;
    border-radius:2px;
    transition-duration:0.5s;
}
.buttonDelete:hover {
    background-color: #ff0000;
    box-shadow: 0 12px 16px 0;
}
.buttonUpdate{
    text-align: center;
    font-family: Verdana, serif;
    margin:10px;
    border-radius:2px;
    transition-duration:0.5s;
}
.buttonUpdate:hover{
    background-color: #FFFF00;
    box-shadow: 0 12px 16px 0


}
span{
    text-emphasis: #4ac1f7;
    border-style: outset;
    font-size:40px;
}
ul{
    list-style-type: none;
}
