{% extends "main.html" %}
{% load static %}
 {% block css %}
            <link rel="stylesheet" href="{% static 'ItemsPage.css' %}">
     {% endblock %}
{% block content %}
    <span><strong>Clienti disponibili</strong> </span>

<ul id = "parent">
    <li class="child">
    <form class="child" method="GET" action="" title="Filtreaza clientii ce contin textul introdus...">
        <input type="search" name="q" placeholder="Cauta clienti...">
    </form>
    </li>
    <li class="child">
         <form class="child" method = "GET">
             {% csrf_token %}
             <button type="submit">Refresh</button>
         </form>
    </li>
    <li class = "child">
        <form method="GET" title="Sorteaza clientii dupa..."  >
            {% csrf_token %}
            <button type="submit">Sorteaza dupa optiune dorita</button>
                    <select name="display_type">
                        <option value="nume">Nume</option>
                        <option value="prenume">Prenume</option>
                        <option value="email">Email</option>
                    </select>
                    <select name="display_order">
                        <option value="asc">Crescator</option>
                        <option value="des">Descrescator</option>
                    </select>
        </form>
    </li>
</ul>

<div class="container">
<table>
     <tr>
           <th>Prenume</th>
           <th>Nume</th>
           <th>Email</th>
           <th>Status</th>
            {% if request.user.is_superuser %}
                <th>Modificare Client</th>
                <th>Stergere Client</th>
            {% endif %}
            {# Vrem ca doar adminul sa poata efectua operatii pe CRUD #}
     </tr>
    {% for user in clienti %}
        <tr>
            <td>{{ user.first_name }} </td>{# ATENTIE LA NUMELE CAMPURILOR!!!; VEZI CLASA ADMIN! #}
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td style="text-decoration:underline">
            {% if user.is_staff %} {# Aflam statutul clientului(admin sau nu) #}
                <strong>ADMIN</strong>
                {% else %}
                <strong>CLIENT</strong>
            {% endif %}
            </td>
            {% if request.user.is_superuser %}
                  <td>
                     <a href="{% url 'update-client' user.id %}"><button class = "buttonUpdate">Update Client</button> </a>
                  </td>
                  <td>
                     <a href="{% url 'delete-client' user.id %}"><button class = buttonDelete>Delete client</button> </a>
                  </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</div>
    {% if request.user.is_superuser %}
        <a style="font-size:30px" href="{% url 'create-client' %}"><button class = "buttonAdd">Adauga Client</button></a>
    {% endif %}
{% endblock %}