{% extends "main.html" %}

{% block content %}
{% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Scrie username ul">

            <label for="password">Password</label>
            <input type="text" id = "password" name="password" placeholder="Scrie password ul">
            {# Numele trebuie sa fie diferit pentru fiecare input? #}
            <input type="submit" value="Login">
        </form>
        <p>No account?</p>
        <a href = {% url 'register' %}>Sign up here!</a>
    </div>
{% else %}
     <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }} {# OBSERVAM CA AICI E FOLOSITA CHEIA DIN variabila context! #}
            <p>Signed up aready?</p>
            <a href="{% url 'login' %}"> Login here!</a>
            <input type="submit" value="Register">
        </form>
    </div>
{% endif %}

{% endblock %}