{% extends "main.html" %}

{% block content %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Scrie username ul">

            <label for="password">Password</label>
            <input type="text" id = "password" name="password" placeholder="Scrie password ul">
            {# Numele trebuie sa fie diferit pentru fiecare input? #}
            <input type="submit" value="Login">
        </form>
    </div>


{% endblock %}