{% extends "main.html" %}
{% load static %}
 {% block css %}
            <link rel="stylesheet" href="{% static 'ItemsPage.css' %}">
     {% endblock %}
{% block content %}
    <span><strong>Medicamente disponibile</strong> </span>

<ul id = "parent">
    <li class="child">
    <form class="child" method="GET" action="" title="Filtreaza medicamentele ce contin textul introdus...">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Cauta medicamente...">
    </form>
    </li>
    <li class="child">
         <form class="child" action="{% url 'medicamente' %}">
             {% csrf_token %}
         <button type="submit">Refresh</button>
         </form>
    </li>
    <li class="child">
        <form method="GET" title="Sorteaza medicamentele dupa..."  >
            {% csrf_token %}
            <button type="submit">Sorteaza dupa optiune dorita</button>
                    <select name="display_type">
                        <option value="nume">Nume</option>
                        <option value="pret">Pret</option>
                        <option value="producator">Producator</option>
                    </select>
{#           <label for="1"><input type="radio" name="display_type" value="nume" id="1">Nume</label>#}
{#           <label for="2"><input type="radio" name="display_type" value="pret" id="2"> Pret</label>#}
{#           <label for="3"><input type="radio" name="display_type" value="producator" id="3"> Producator </label>#}
        </form>
    </li>
</ul>

<div class="container">
<table>
     <tr>
           <th>Nume</th>
           <th>Pret</th>
           <th>Producator</th>
           <th>Reteta</th>
            {% if request.user.is_superuser %}
                <th>Modificare Medicament</th>
                <th>Stergere Medicament</th>
            {% endif %}
            {# Vrem ca doar adminul sa poata efectua operatii pe CRUD #}
     </tr>
    {% for medicament in medicamente %}
        <tr>
            <td>{{ medicament.nume }} </td>
            <td>{{ medicament.pret }}</td>
            <td>{{ medicament.producator }}</td>
            <td>
               <input class="form-check-input" type="checkbox" disabled
                       {% if medicament.necesita_reteta %}
                            checked
                        {% endif %}>
            </td>
            {% if request.user.is_superuser %}
                  <td>
                     <a href="{% url 'update-medicament' medicament.id %}"><button class = "buttonUpdate">Update Medicament</button> </a>
                  </td>
                  <td>
                    <a href="{% url 'delete-medicament' medicament.id %}"><button class = "buttonDelete">Delete Medicament</button> </a>
                  </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</div>
{% if request.user.is_superuser %}
    <a style="font-size:30px"  href="{% url 'create-medicament' %}">
        <button class="buttonAdd">
            Creeaza Medicament
        </button>
    </a>
{% endif %}

{% endblock %}