{% load static %}
   <link rel="stylesheet" href="{% static 'arrow.css' %}">
<style>
   .footer{
       resize: both;
       position: relative;
       text-align: Left;
       bottom:0px;
       margin-bottom:25px;
       margin-top: auto;
       border:5px;
   }
   #thisSpan{
       font-size:40px;
       margin:3px;
   }
   #Login{
       font-family: Verdana, sans-serif;
       font-size: 40px;
   }
   #Logout{
       font-family: Verdana, sans-serif;
       font-size: 40px;
   }
   .buttonLogin{
       transition-duration: 0.3s;
   }
    .buttonLogin:hover{
       background-color: #5dbea3;
   }
   .buttonLogout
   {
       transition-duration: 0.3s;
   }
   .buttonLogout:hover
   {
        background-color: #e90600;
   }

</style>
<div>
        <span id = "thisSpan">
            <a id = "thisSpan" href = '/' title="Go back to the starting page of this web site!">
                Go back to the Main Page!
            </a>
        </span>
</div>
{% if request.user.is_authenticated %}
    <div style="position: relative">
    <a id = "Logout" href="{% url 'logout' %}"><button class = "buttonLogout" style="margin:3px;text-align: left">Logout!</button></a>
    <ul class="arrow">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
    {% comment %}<a id = "Logout" href="{% url 'logout' %}"><button class = "buttonLogout" style="margin:3px;text-align: left">Logout!</button></a>
    {% endcomment %}
{% else %}
     <div style="position: relative">
    <a id = "Login" href="{% url 'login' %}"><button class = "buttonLogin" style="margin:3px;text-align: left">Login!</button></a>
    <ul class="arrow">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
{% endif %}


<!-- DEFINIM o linie separatoare intre aceasta referinta si restul paginii HTML!-->