{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'arrow.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
{% endblock %}

{#{% if request.user.is_authenticated %}#}
{#    <div style="position: relative">#}
{#    <a id = "Logout" href="{% url 'logout' %}"><button class = "buttonLogout" style="margin:3px;text-align: left">Logout!</button></a>#}
{#    <ul class="arrow">#}
{#        <li></li>#}
{#        <li></li>#}
{#        <li></li>#}
{#    </ul>#}
{#    </div>#}
{#    {% comment %}<a id = "Logout" href="{% url 'logout' %}"><button class = "buttonLogout" style="margin:3px;text-align: left">Logout!</button></a>#}
{#    {% endcomment %}#}
{#{% else %}#}
{#     <div style="position: relative">#}
{#        <a id = "Login" href="{% url 'login' %}"><button class = "buttonLogin" style="margin:3px;text-align: left">Login!</button></a>#}
{#        <ul class="arrow">#}
{#            <li></li>#}
{#            <li></li>#}
{#            <li></li>#}
{#        </ul>#}
{#    </div>#}
{#{% endif %}#}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Farmacie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'medicamente' %}">Medicamente</a>
        <a class="nav-link" href="{% url 'clienti' %}">Clienti</a>
        <a class="nav-link" href="{% url 'tranzactii' %}">Tranzactii</a>
        {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

</nav>


<!-- DEFINIM o linie separatoare intre aceasta referinta si restul paginii HTML!-->