{% extends "main.html" %}
{% load static %}
 {% block css %}
            <link rel="stylesheet" href="{% static 'ItemsPage.css' %}">
 {% endblock %}
{% block content %}
    <span>
        {% if request.user.is_authenticated %}
            <strong>Tranzactii pentru user ul logat acum: {{ request.user.username }}</strong>
        {% else %}
            <strong>Vizitatotii nu dispun de liste e tranzactii!</strong>
        {% endif %}
    </span>

<ul id = "parent">
    <li class="child">
    <form class="child" method="GET" action="" title="Filtreaza tranzactiile ce contin textul introdus...">
        <input type="search" name="q" placeholder="Cauta tranzactii...">
    </form>
    </li>
    <li class="child">
         <form class="child" action="">
         <button type="submit">Refresh</button>
         </form>
    </li>
    <li class = "child">
        <form method="GET" title="Sorteaza tranzactii dupa..."  >
            {% csrf_token %}
            <button type="submit">Sorteaza dupa optiune dorita</button>
                    <select name="sort">
                        <option value="nume">Nume</option>
                        <option value="cantitate">Cantitate</option>
                        <option value="data">Data</option>
                    </select>
                    <select name="display_order">
                        <option value="asc">Crescator</option>
                        <option value="des">Descrescator</option>
                    </select>
        </form>
    </li>
</ul>

<div class="container">
<table>
     <tr>
           <th>Nume medicament</th>
           <th>Username</th>
           <th>Cantitate</th>
           <th>Data tranzactie</th>
           <th>Modificare Tranzactie</th>
           <th>Stergere Tranzactie</th>
            {# Doar userii sa poata efectua operatii pe CRUD #}
     </tr>
    {% for tranzactie in tranzactii %}
        <tr>
            <td>{{ tranzactie.medicament.nume }} </td>
            <td>{{ tranzactie.client.username }}</td>
            <td>{{ tranzactie.numar_bucati }}</td>
            <td>{{ tranzactie.data_tranzactie }}</td>
            <td>
                 <a href="{% url 'update-tranzactie' tranzactie.id %}"><button class = buttonUpdate>Update tranzactie</button></a>
            </td>
            <td>
                 <a href="{% url 'delete-tranzactie' tranzactie.id %}"><button class = "buttonDelete">Delete tranzactie</button></a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
    {% if request.user.is_authenticated %}
          <a style="font-size: 30px" href="{% url 'create-tranzactie' id %}"><button class="buttonAdd">Creeaza tranzactie</button></a>
            {# Doar user ii pot avea lista de tranzactii; VIZITATOTII NU!!! #}
    {% endif %}
{% endblock %}